<form class="form-control">
  <label for="userNameForm">What is your name?</label>
  <input type="text" name="userNameInput">

  <label for="userAnimalIdentity">Which of the following best describes you:</label>
  <select class="form-control" name="animalIdentityDropdown">
    <option value="bear">Bear</option>
    <option value="wolf">Wolf</option>
    <option value="silverFox">Silver Fox</option>
    <option value="otter">Otter</option>
  </select>

  <button class="btn btn-info" type="submit" name="user">COMMIT</button>
</form>
